body {
  background: rgb(30,30,30);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.table {
  margin-top: 50px;
  text-align: center;
  background: #4E4E4E;

  td{
    border: 1px solid #9A9A9A;
    font-size: 16px;
  }

  & > tbody > tr> td {
    border: 1px solid #545454;
    padding: 15px;
    font-size: 21px;
  }
}

td:hover {
  cursor: pointer;
}

.possible-answers {
  list-style: none;
  padding-left: 20px;
  margin-top: 50px;
  height: auto;
  padding-bottom: 10px;
  background-color: #4E4E4E;
  padding-top: 15px;
  min-height: 275px;

  @media (max-width: 900px) {
    width: 250px;
    margin-left: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  h4 {
    margin-top: 0;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.erase-solution {
  text-decoration: line-through;
  color: #DCDCDC;
}

.solutions {
  font-weight: bold;
}

.modal-content {
  background: #464646;
  position: fixed;
  left: 38%;
  z-index: 2;
  padding: 2% 3% 2% 3%;

  @media (max-width: 1230px) {
    left: 33%;
  }

  @media (max-width: 900px) {
    left: 28%;
  }

  @media (max-width: 730px){
    left: 23%;
  }

  @media (max-width: 580px) {
    left: 18%;
  }

  @media (max-width: 500px) {
    left: 14%;
  }

  @media (max-width: 430px) {
    left: 0;
  }

  h2{
    margin-top: 0;
    font-weight: 600;
    text-shadow: 1px 1px 1px #3C3C3C;
  }

  .glyphicon-remove {
    position: absolute;
    right: 15px;
    top: 10px;
    background: black;
    border: 0;
    outline: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #CCCCCC;
  }
}