body {
  background: #1e1e1e;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
}
.table {
  margin-top: 50px;
  text-align: center;
  background: #4E4E4E;
}
.table td {
  border: 1px solid #9A9A9A;
  font-size: 16px;
}
.table > tbody > tr > td {
  border: 1px solid #545454;
  padding: 15px;
  font-size: 21px;
}
td:hover {
  cursor: pointer;
}
.possible-answers {
  list-style: none;
  padding-left: 20px;
  margin-top: 50px;
  height: auto;
  padding-bottom: 10px;
  background-color: #4E4E4E;
  padding-top: 15px;
  min-height: 275px;
}
@media (max-width: 900px) {
  .possible-answers {
    width: 250px;
    margin-left: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
.possible-answers h4 {
  margin-top: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.erase-solution {
  text-decoration: line-through;
  color: #DCDCDC;
}
.solutions {
  font-weight: bold;
}
.modal-content {
  background: #464646;
  position: fixed;
  top: -500px;
  opacity: 0.3;
  left: 38%;
  z-index: 2;
  padding: 2% 3% 2% 3%;
}
@media (max-width: 1230px) {
  .modal-content {
    left: 33%;
  }
}
@media (max-width: 900px) {
  .modal-content {
    left: 28%;
  }
}
@media (max-width: 730px) {
  .modal-content {
    left: 23%;
  }
}
@media (max-width: 580px) {
  .modal-content {
    left: 18%;
  }
}
@media (max-width: 500px) {
  .modal-content {
    left: 14%;
  }
}
@media (max-width: 430px) {
  .modal-content {
    left: 0;
  }
}
.modal-content h2 {
  margin-top: 0;
  font-weight: 600;
  text-shadow: 1px 1px 1px #3C3C3C;
}
.modal-content .glyphicon-remove {
  position: absolute;
  right: 15px;
  top: 10px;
  background: black;
  border: 0;
  outline: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #CCCCCC;
}
.shadow {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
