body {
  background: rgb(30,30,30);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.table {
  margin-top: 50px;
  text-align: center;
  background: #4E4E4E;

  td{
    border: 1px solid #9A9A9A;
    font-size: 16px;
  }

  td:hover {
    cursor: pointer;
  }

  & > tbody > tr> td {
    border: 1px solid #545454;
    padding: 15px;
    font-size: 21px;
  }
}

.selected {
  background-color: #039655;
}

.possible-answers {
  list-style: none;
  padding-left: 20px;
  margin-top: 50px;
  height: auto;
  padding-bottom: 10px;
  background-color: #4E4E4E;
  padding-top: 15px;
  min-height: 275px;

  @media (max-width: 900px) {
    width: 250px;
    margin-left: 15px;
    padding-bottom: 20px;
  }

  h4 {
    margin-top: 0;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.erase-solution {
  text-decoration: line-through;
}

.solutions {
  font-weight: bold;
}